@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Kanit:wght@300&family=Montserrat&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-image: url("5137843.jpg") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.appNavbar{
  padding: 0.5rem 0;
}

.logo{
  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 1.6rem;
}

.register{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.registerForm{
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.text-light{
  color: white !important;
}